*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.biggestbox{
    position: absolute;
}
/* Regole di debug */


/* Regole Header:
    1) parte in alto: font piccolo per il div centrale
    - bottone 'accedi' top rightn (float right?)

    2) parte centrale: scritte bianche
    3) bottoni uno bianco uno nero
*/

.logo{
    margin-left: 50px;
}

.accedi{
    position: absolute;
    margin-right: 50px;
}



/* Regole main:
    1) img float left
    2) img float right
    3) img float left

img 1 2 3 hanno la stessa grandezza

    4) img and text align centre
*/



/* Regole footer:
    5 colonne di diversa width
*/